@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:ital@1&display=swap');

.navbar {
  background-color: seashell;
  display: flex;
  flex-direction: row;
  padding: 16pt 16pt 16pt 16pt;
  justify-content: left;
}

.navbar-logo {
  margin-right: 32px;
  padding: 8px 8px 8px 8px;
  list-style-type: none;
  border-radius: 8px;
  font-family: 'Lobster', cursive;
  color: lightcoral;
}

.navbar-logo:hover {
  background-color: gainsboro;
  color: darkred;
}

.navbar-button {
  margin-right: 8px;
  padding: 8px 8px 8px 8px;
  list-style-type: none;
  border-radius: 8px;
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar-button:hover {
  background-color: gainsboro;
}

.router-link {
  color: black;
  text-decoration: none;
}