@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.welcome-text {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
  color: azure;
}

.background {
  background-image: url("../assets/images/backgroundImage.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}