.skills-background {
  background-color: seashell;
  min-height: 100vh;
  min-width: 100vw;
}

.content {
  display: flex;
  justify-content: center;
}

.content-block {
  max-width: 1000px;
}

.skills-article {
  margin-top: 72px;
}

.workxp-span {
  margin-right: 64px;
}

.skills-list {
  list-style-type: square;
}